@page "/schedule"
@using System.Linq
@inject HttpClient Http;
@code
{
    public class task 
    {
        public void refresh()
        {
            Finished = (DateTime.Now - Beginning)>Length? false: true;

        }
        public string Name{get; set;}
        public string Description{get; set;}
        public DateTime Beginning{get; set;}
        public TimeSpan Length{get; set;}
        public bool Finished = true;
    }

    protected override async Task OnInitializedAsync()
    {
        try {
        foreach(var data in await Http.GetFromJsonAsync<task[]>("sample-data/schedule.json"))
        {
            Msg += "ABC:" + data.Name + data.Description + data.Beginning + data.Length + "\n";
        }
        }
        catch(Exception e)
        {
            Msg += "E1" + e.Message + "\n";
        }

        try {
           scheduleTasks = new List<task>(await Http.GetFromJsonAsync<task[]>("sample-data/schedule.json"));
        }
        catch(Exception e)
        {
            Msg += "E2:" + e.Message + "\n";
        }
       
    }
    public string Msg = "";

    public List<task> scheduleTasks;
}
<table class="table">
    <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>起始时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if(scheduleTasks.Count == 0)
        {
           <h2>No tasks were found.</h2>
        }
        else
        {
            @foreach (var scheduletask in scheduleTasks)
            {
                <tr>
                    <td>@scheduletask.Name</td>
                    <td>@scheduletask.Description</td>
                    <td>@scheduletask.Beginning.ToString()</td>
                    <td style="color:@(scheduletask.Finished?"green":"red")">@(scheduletask.Finished?"已完成":"未完成")</td>
                    <td><button class="btn btn-danger" @onclick="@((e)=>{scheduleTasks.Remove(scheduletask);})">删除</button></td>
                </tr>
            }
        }
            
    </tbody>
</table>
<h1>@Msg</h1>
