@page "/schedule"
@using System.Linq
@inject HttpClient Http;
@code
{
    public class task 
    {
        public void refresh()
        {
            Finished = (DateTime.Now - Beginning)>Length? false: true;

        }
        public task(string name, string description, DateTime beginning, TimeSpan length)
        {
            Name = name;
            Description = description;
            Beginning = beginning;
            refresh();
        }

        public task(string name, DateTime beginning, TimeSpan length)
        {
            Name = name;
            Description = "暂无描述";
            Beginning = beginning;
            refresh();
        }
        public string Name;
        public string Description;
        public DateTime Beginning;
        public TimeSpan Length;
        public bool Finished;
    }

    public class taskData
    {
        public string Name;
        public string Description;
        public string Beginning;
        public string Length;
    }

    protected override async Task OnInitializedAsync()
    {
        try {
        foreach(var data in await Http.GetFromJsonAsync<taskData[]>("sample-data/schedule.json"))
        {
            Msg += "ABC:" + data.Name + data.Description + data.Beginning + data.Length + "\n";
        }
        }
        catch(Exception e)
        {
            Msg += "E1" + e.Message + "\n";
        }

        try {
        scheduleTasks = (from data in await Http.GetFromJsonAsync<taskData[]>("sample-data/schedule.json")
            let date = DateTime.Parse(data.Beginning)
            let span = TimeSpan.Parse(data.Length)
            select new task(data.Name, data.Description, date, span)).ToList();
        }
        catch(Exception e)
        {
            Msg += "E2:" + e.Message + "\n";
        }
       
    }
    public string Msg = "";

    public List<task> scheduleTasks = new List<task>();
}
<table class="table">
    <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
            <th>起始时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var scheduletask in scheduleTasks)
        {
            <tr>
                <td>@scheduletask.Name</td>
                <td>@scheduletask.Description</td>
                <td>@scheduletask.Beginning.ToString()</td>
                <td style="color:@(scheduletask.Finished?"green":"red")">@(scheduletask.Finished?"已完成":"未完成")</td>
                <td><button class="btn btn-danger" @onclick="@((e)=>{scheduleTasks.Remove(scheduletask);})">删除</button></td>
            </tr>
        }
            
    </tbody>
</table>
<h1>@Msg</h1>
